&__another-first {
	width: 100%;
	display: flex;
	overflow: hidden;
	padding: 15px 0 0 0;
	margin-bottom: 20px;
	border-top: 1px solid #c8c8c8;
	border-bottom: 1px solid #c8c8c8;

	> div {
		flex: 0 0 26%;
		padding: 10px 0px 20px 0px;
		text-align: center;

		h3 {
			margin: 0;
			font-size: 20px;
		}
	}

	> strong {
		flex: auto;
		align-self: center;
		text-align: center;
		padding: 10px 10px;
		font-size: 32px;
		line-height: 60px;
		color: #5e5e5e;
	}

	// Mobile.
	@media screen and (max-width: 768px) {
		display: block;

		> div {
			flex: 0 0 100%;
		}

		> strong {
			float: left;
			width: 50%;
		}
	}
}

&__another {
	display: block;
	padding: 10px 10px;
	overflow: hidden;
	margin-bottom: 15px;

	> header {
		display: block;
		text-align: center;
		padding: 10px 0px;
		border-bottom: 1px solid #fff;
		font-size: 22px;

		> h3 {
			font-weight: normal;
			margin: 0;
			padding: 0;

			> strong {
				font-size: 24px;
				margin-right: 8px;
				font-weight: bold;
				display: inline;
			}

			> small {
				font-size: 16px;
				font-style: normal;
				color: #00b464;
			}
		}
	}

	> ul {
		width: 100%;
		padding: 0;
		margin: 0;
		list-style: none;

		> li {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;

			> strong {
				list-style: none;
				flex-basis: calc(100% / 5);
				padding: 8px 0px;
				font-size: 18px;
				text-align: center;
			}

			&:nth-child(odd) {
				background-color: #f0f0f0;
			}
		}
	}

	// Mobile.
	@media screen and (max-width: 768px) {
		> header > h3 > small {
			display: block;
			padding: 5px 0;
			margin-top: 8px;
			background-color: #f0f0f0;
		}

		> ul > li {
			> strong {
				font-size: 14px;
			}
			&:nth-child(odd) {
				background-color: transparent;
			}
		}
	}
}
