/* form search */
&__select-date-form {
	width: 100%;
	display: flex;
	align-items: stretch;
	margin: 25px 0;

	.__column {
		flex-grow: 1;

		&-select,
		&-input {
			padding: 3px 10px 3px 10px;
			margin: 0px;
			width: 100%;
			height: 46px;
			border: 1px solid #cccccc;
			background-color: white !important;
			outline: none;
			background: transparent;
			font-size: 16px;
			color: #333;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}

		.-select {
			cursor: pointer;
			text-align-last: center;
		}

		.-button[type="button"] {
			display: inline-block;
			cursor: pointer;
			width: 100%;
			margin: 0px;
			padding: 11px 0px 11px 0px;
			text-decoration: none;
			font-size: 16px;
			font-weight: normal;
			color: #ffffff;
			text-align: center;
			line-height: 150%;
			background-color: #272726 !important;
			border: 0px;
			-webkit-appearance: none;
			border-radius: 0;

			&:hover {
				color: #ececec;
				background-color: #383837 !important;
			}
		}
	}
}
