.wp-lotto-auto-update-thailotto {
	width: 100%;
	overflow: hidden;
	margin-bottom: 10px;

	em {
		background-color: #e8e8e8;
		clear: both;
		padding: 10px 0px;
		text-align: center;
		font-size: 14px;
		display: block;
		font-style: normal;

		strong {
			color: #000000;
		}
	}

	@import "another";
	@import "highlight";
}
